# OSX Files
Icon?
.DS_Store
._*
xcuserdata/
*.xcscmblueprint
*.xccheckout
/DerivedData/
/*.7z
/*.tar.gz
/*.tar.xz
/*.tar.zstd
/tools/*.dSYM/
/releases/
/src/tmp/

# debugging/profiling data
/callgrind.out.*
/vgcore.*
gmon.out

/mk/wasm/emsdk

# msys2 makepkg files
mk/win/msys2_pkgs/mingw-w64-SDL2/*
!mk/win/msys2_pkgs/mingw-w64-SDL2/PKGBUILD
!mk/win/msys2_pkgs/mingw-w64-SDL2/001-fix-cmake-target-relocation.patch
!mk/win/msys2_pkgs/mingw-w64-SDL2/002-fix-link-order.patch
!mk/win/msys2_pkgs/mingw-w64-SDL2/003-fix-static-library-name.patch
!mk/win/msys2_pkgs/mingw-w64-SDL2/004-dont-duplicate-libs-in-libs-private.patch

# mingw64 makepkg files
mk/win_cross/pkgs/mingw-w64-sdl2/*
!mk/win_cross/pkgs/mingw-w64-sdl2/PKGBUILD

# Executables/Object files
/zzterm
/zzterm.exe
/tools/assets
/tools/assets.exe
*.out
*.a
*.lib
*.so
*.o
*.wo
*.no
*.d
*.deps
*.gch
*.obj
*.dylib
*.exe
*.kate-swp
*.dll
*.core
*.res
